<a href="https://colab.research.google.com/github/valerio-unifei/ecom01/blob/main/ECOM01_02_Quantificadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quantificadores

Definição: ação que quantifique observações e experiências, traduzindo-as para números através de contagem e mensuração

### Base de Dados

Gerador de dados, com 50 linhas/casos, 4 atributos de entrada e 1 atributo de estado (falha), exemplificando um conjunto de 4 sensores que detectam um equipamento de falhar (1) ou funcionar normal (0)

In [1]:
from sklearn.datasets import make_classification
import pandas as pd
# gerador de dataset
X,y = make_classification(n_samples=50, n_features=4, n_classes=2, random_state=2022)
# nome dos atributos sensores
atributos = [f's{i:0>2}' for i in range(1,X.shape[1]+1)]
# Montando estrutura no DataFrame
df = pd.DataFrame(data=X, columns=atributos)
df['falha'] = y
df.head()

        s01       s02       s03       s04  falha
0 -0.481956 -0.632660 -0.841538  0.728696      0
1  1.524637  0.675149  1.020000 -1.405003      1
2  1.149893  0.578514  0.855115 -1.106710      1
3 -0.337477  0.480755  0.554541 -0.116751      0
4  2.006336 -0.490501 -0.365175 -0.912936      1

In [2]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
s01,50.0,-0.089043,1.251990,-2.461575,-1.115075,-0.314773,1.019948,2.121404
s02,50.0,-0.112643,1.086723,-2.945701,-0.836686,0.267565,0.597593,2.533430
s03,50.0,-0.150223,1.368859,-3.700070,-1.152482,0.242740,0.835604,3.363993
s04,50.0,0.131749,1.123485,-2.887804,-0.701056,0.317693,1.036027,2.270409
falha,50.0,0.500000,0.505076,0.000000,0.000000,0.500000,1.000000,1.000000

In [3]:
from sklearn import tree

clf = tree.DecisionTreeClassifier(random_state=42,max_depth=4)
clf.fit(X,y)
print('Acurácia =',clf.score(X,y))
print(tree.export_text(clf,feature_names=atributos,decimals=4,show_weights=True))

Acurácia = 1.0
|--- s01 <= -0.1555
|   |--- s03 <= -2.2333
|   |   |--- weights: [0.0000, 2.0000] class: 1
|   |--- s03 >  -2.2333
|   |   |--- s04 <= 0.4150
|   |   |   |--- s02 <= 0.3456
|   |   |   |   |--- weights: [0.0000, 2.0000] class: 1
|   |   |   |--- s02 >  0.3456
|   |   |   |   |--- weights: [6.0000, 0.0000] class: 0
|   |   |--- s04 >  0.4150
|   |   |   |--- weights: [17.0000, 0.0000] class: 0
|--- s01 >  -0.1555
|   |--- s02 <= 1.2485
|   |   |--- weights: [0.0000, 21.0000] class: 1
|   |--- s02 >  1.2485
|   |   |--- weights: [2.0000, 0.0000] class: 0

## Predicado

Definição: Função booleana lógica que interpreta um valor de entrada e retorna se é verdadeiro ou falso para a função.

Exemplo:

Predicado(x) simboliza (x <= 0.0)

In [4]:
# função predicado lógica
def Predicado(X):
  return X <= 0.0

# executando função sobre atributo do sensor 2
Predicado(df['s02'])

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12     True
13     True
14    False
15     True
16     True
17    False
18     True
19    False
20     True
21     True
22    False
23     True
24     True
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33     True
34    False
35    False
36     True
37    False
38    False
39    False
40     True
41     True
42     True
43    False
44    False
45    False
46    False
47     True
48     True
49    False
Name: s02, dtype: bool

## Quantificador Universal (∀)

O quantificador universal "para todo" toma uma variável e uma fórmula e afirma que a fórmula pode assumir qualquer valor para um dado x.

Exemplo:

∀x, x+1>x

In [5]:
def P1(x):
  return (x + 1) > x

p1 = P1(df['s03'])
p1

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
Name: s03, dtype: bool

In [8]:
len(df[P1(df['s03'])]) == len(df)

True

## Quantificador Existencial (∃)

O símbolo correspondente para o quantificador existencial é ∃ , a letra "E" rotacionada, que se lê como "existe".

Exemplo:

∃x, x*x > 2

In [15]:
def P2(x):
  return x*x > 100

P2(df['s04'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: s04, dtype: bool

In [16]:
len(df[P2(df['s04'])]) > 0

False

## Negação de Quantificadores

Exemplo de expressão quantificada:
*  "Todos os alunos (∀) desta classe **fizeram Fundamentos de Programação** {P(x)}."

Invertendo a expressão:
*  "Há alunos (∃) nesta classe que **NÃO fizeram Fundamentos de Programação** {~P(x)}."

Demonstra que a negação de um enunciado quantificado universalmente é um enunciado existencial.

¬∀x P(x) ≡ ∃x ¬P(x) 

Da mesma forma, a negação de um enunciado existencial é um enunciado universal.

¬∃x P(x) ≡ ∀x ¬P(x)

Exemplo:

¬∀x,y P3(x,y) onde P3 é (x > y) ≡ ∃x,y ¬P3(x,y)

In [19]:
def P3(x, y):
  return x > y

~P3(df['s01'],df['s03'])

0     False
1     False
2     False
3      True
4     False
5     False
6      True
7      True
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19     True
20    False
21     True
22    False
23    False
24    False
25     True
26     True
27    False
28     True
29     True
30     True
31     True
32    False
33    False
34    False
35     True
36    False
37     True
38     True
39     True
40     True
41    False
42    False
43     True
44     True
45    False
46     True
47    False
48     True
49     True
dtype: bool

In [20]:
len( df[ ~ P3(df['s01'],df['s03']) ] )

23

## Quantificadores Aninhados

Há momentos em que será necessário mais de um quantificador para expressar uma afirmação.

*  "Para todos os inteiros 'x', existe um inteiro 'y', de tal modo que (x < y)."

∀x ∃y S(x,y)

In [21]:
def S(x, y):
  return x < y

for y in range(0,5):
  print("S(df['s01'],", y ,") =", len( df[S(df['s01'],y)] ))

S(df['s01'], 0 ) = 29
S(df['s01'], 1 ) = 37
S(df['s01'], 2 ) = 48
S(df['s01'], 3 ) = 50
S(df['s01'], 4 ) = 50

## Expressões Complexas



```
|--- s01 <= -0.1555
|   |--- s03 <= -2.2333
|   |   |--- weights: [0.0000, 2.0000] class: 1

```

In [25]:
def T1(s01):
  return s01 <= -0.1555

def T2(s03):
  return s03 <-2.333

r = T1(df['s01']) & T2(df['s03'])
len(df[r])

2



```
|   |--- s03 >  -2.2333
|   |   |--- s04 <= 0.4150
|   |   |   |--- s02 <= 0.3456
|   |   |   |   |--- weights: [0.0000, 2.0000] class: 1
|   |   |   |--- s02 >  0.3456
|   |   |   |   |--- weights: [6.0000, 0.0000] class: 0
|   |   |--- s04 >  0.4150
|   |   |   |--- weights: [17.0000, 0.0000] class: 0
|--- s01 >  -0.1555
|   |--- s02 <= 1.2485
|   |   |--- weights: [0.0000, 21.0000] class: 1
|   |--- s02 >  1.2485
|   |   |--- weights: [2.0000, 0.0000] class: 0
```